{% extends "auctions/layout.html" %}

{% block body %}
    {% for msg in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <h3>{{ msg }}</h3>
        </div>
    {% endfor %}

        <article class="media content-section">
            {% if object.image != Null and object.title != Null and object.description != Null and object.price != Null%}
                <h2>{{ object.title }}</h2>
                <img alt="No image available" src="{{ object.image.url }}">
                <p>{{ object.description }}</p>
                <a href="{% url 'category' object.category %}">{{ object.category }}</a>
                <h4>${{ object.price }}.00</h4>

            {% endif %}
        </article>

    {% if user.is_authenticated %}
    <div class='content-section'>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Place Your Bit</legend>
                {{ b_form.as_p }}
            </fieldset>
            <div class="form-group ml-2">
                <button class="btn btn-info" style="border: black 1px solid" type="submit">Place Bid</button>

            </div>
        </form>

        {% if bids.count > 0 %}
        <div>
        {% for b in bids %}
            <div>
                <h5>{{ b.user_id }}:  ${{ b.price }}</h5>
            </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class='content-section'>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Comments</legend>
                {{ c_form.as_p }}
            </fieldset>
            <div class="form-group ml-2">
                <button class="btn btn-info" style="border: black 1px solid" type="submit">Comment</button>
            </div>
        </form>

    </div>
    {% endif %}
        {% if comments.count > 0 %}
        <div>
        <h3>Comments</h3>
        {% for c in comments %}
            <div>
                <h5>{{ c.user_id }}:  {{ c.comment }}</h5>
            </div>
        {% endfor %}
        </div>
        {% endif %}
{% endblock %}