{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for l in listings %}
        <article class="media content-section">
            {% if l.image != Null and l.title != Null and l.description != Null and l.price != Null%}
                <h2>{{ l.title }}</h2>
                <p>{{ l.description }}</p>
                <h4>${{ l.price }}</h4>
                <img alt="No image available" src="{{ l.image.url }}">
            {% endif %}
            {% if l.bid != Null %}
                <h4>{{ l.bid }}</h4>
            {% endif %}
            {% if l.category != Null%}
                <a>{{ l.category }}</a>
            {% endif %}
            {% if l.date_created != Null %}
                <h4>{{ l.date_created }}</h4>
            {% endif %}

        </article>
    {% endfor %}

{% endblock %}